<!-- REPLACE LATER -->
<!DOCTYPE HTML>
<html>
  <head>
    <title>Flask Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  </head>
  <body>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="toast-container">
        {% for category, msg in messages %}
          <div class="toast toast-{{ category }}">{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

    <h1> Hello!</h1>
  
    <h2>Current Courses:</h2>
    <ul>
      {% for course in courses %}
        <li> <a href="{{url_for('main.course', course_id = course.id) }}" > 
                   {{ course.major}}{{course.coursenum}}-{{course.title}}  </a> in {{course.classroom.building}}-{{course.classroom.roomNumber}}</li>
      {% endfor %}
    </ul>
    <h2>Add New Course:</h2>
    <form method="POST">
      {{ form.hidden_tag() }}
      <p>{{ form.major.label}} 
         {{ form.major()}}
      </p>
      <p>{{ form.coursenum.label}} 
        {{ form.coursenum()}}
     </p>
     <p>{{ form.title.label}} 
      {{ form.title()}}
     </p>
     <p>{{ form.classroom.label}} 
      {{ form.classroom()}}
     </p>
    <p>{{ form.submit()}}</p>
    </form>

  </body>
</html>
